# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/webfrontend/doc/api/
**/webfrontend/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/webfrontend/build


# Web related
/webfrontend/lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/webfrontend/android/app/debug
/webfrontend/android/app/profile
/webfrontend/android/app/release

addresses.json
/Backend/node_modules
/Backend/build
/webfrontend/web/addresses.js


# Flutter/Dart/Pub related
**/mobilefrontend/doc/api/
**/mobilefrontend/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/mobilefrontend/build/

# Web related
/mobilefrontend/lib/generated_plugin_registrant.dart

# Android Studio will place build artifacts here
/mobilefrontend/android/app/debug
/mobilefrontend/android/app/profile
/mobilefrontend/android/app/release